.LoginScreen{
    position: relative;
    height: 100%;
    
    background: url('https://wpassets.brainstation.io/app/uploads/2017/04/13100509/Netflix-Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    
}
.loginScren_gradient{
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0.8) 100%

    );
}
.loginScreen_body> h1{
    font-size: 2.125rem;
    margin-bottom: 20px;
   
    

}
.loginScreen_body> h2{
    font-size: 1.5rem;
    margin-bottom: 30px;
    font-weight: 400;
    text-align: center;
    

}

.loginScreen_body> h3{
    font-size: 1rem;
    margin-bottom: 20px;
    font-weight: 400;
    text-align: center;
}
    

.loginScreen_body{
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    z-index: 1;
    padding: 20px;
    color: #fff;
}

.loginScreen_getStartedBtn{
    padding:16px 20px;
    font-size: 0.8rem;
    color: #fff;
    background-color: #e50914;
    border: none;
}
.loginScreen_input > form > input{
padding: 15px;
outline-width: 0;
height: 30%;
width: 30%;
border: none;
max-width: 600;
cursor: pointer;
}

.loginScreen_input{
    margin: 20px;
}

.LoginScreen_Logo{
    position: fixed;
    left: 0;
    width: 100px;
    object-fit: contain;
    padding-left: 20px;
}
.loginScreenSignIn_btn{
    position: fixed;
    right: 20px;
    top: 10px;
    width: 100px;
    object-fit: contain;
    padding:10px 10px;
    color: #fff;
    background-color: #e50914;
    font-size: 1rem;
    border: none;
}

.signUp_ScreenLink{
    cursor: pointer;
    text-decoration: underline;
}